APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://automatee.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REVERB_APP_ID=automate-reverb-app
REVERB_APP_KEY=automate-reverb-key
REVERB_APP_SECRET=automate-reverb-secret
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

MAIL_MAILER=smtp
MAIL_ENCRYPTION=tls
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Automate

BILLING_COMPANY_NAME="AutoMate"
BILLING_COMPANY_TAGLINE="Vehicle Service & Rental Management"
BILLING_COMPANY_ADDRESS="Itahari , Sangit Chwok"
BILLING_COMPANY_PHONE="9852090901"
BILLING_COMPANY_EMAIL="${MAIL_FROM_ADDRESS}"
BILLING_COMPANY_VAT="09090909"
BILLING_COMPANY_WEBSITE=""

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

ESEWA_MERCHANT_NAME="AutoMate"
ESEWA_PRODUCT_CODE="EPAYTEST"
ESEWA_SECRET_KEY=""
ESEWA_FORM_URL="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
ESEWA_STATUS_CHECK_URL="https://rc.esewa.com.np/api/epay/transaction/status/"
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
ADMIN_EMAIL=sewanta07@gmail.com

BILLING_COMPANY_NAME="${APP_NAME}"
BILLING_COMPANY_TAGLINE="Vehicle Service & Rental Management"
BILLING_COMPANY_ADDRESS=""
BILLING_COMPANY_PHONE=""
BILLING_COMPANY_EMAIL="${MAIL_FROM_ADDRESS}"
BILLING_COMPANY_VAT=""
BILLING_COMPANY_WEBSITE=""

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

ESEWA_MERCHANT_NAME="AutoMate"
ESEWA_PRODUCT_CODE="EPAYTEST"
ESEWA_SECRET_KEY=""
ESEWA_FORM_URL="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
ESEWA_STATUS_CHECK_URL="https://rc.esewa.com.np/api/epay/transaction/status/"
