@import 'tailwindcss';
@import './layout/landing.css';
@import './authentication/auth.css';
@import './layout/layout.css';
@import './customer/customer.css';
@import './customer/components/navbar.css';
@import './staff/staff.css';
@import './admin/admin.css';

[x-cloak] {
	display: none !important;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in {
	animation: fadeIn 0.3s ease-out;
}